<%- include('../partials/header') %>

<h1 align='center'>New Cutlery</h1>
<div class="resize mx-auto shadow padded">
  <form method="POST" action="/new">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" id="price" name="price" class="form-control" required>
    </div>
    <button class="btn btn-primary">Create</button>
  </form>
</div>

<%- include('../partials/footer') %>
